<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="libelulati.tripctrl" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/trip_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Usuario.UsuarioNovoActivity"
            android:label="@string/title_activity_novo_usuario"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Senha.EsqueciSenhaActivity"
            android:label="@string/title_activity_esqueci_senha"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Inicio.InicioActivity"
            android:label="@string/title_activity_inicio"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Categoria.CategoriaListActivity"
            android:label="@string/title_activity_categoria_list"
            android:parentActivityName=".Inicio.InicioActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio.InicioActivity" />
        </activity>
        <activity
            android:name=".MetodosPagamento.MetodosPagamentoListActivity"
            android:label="@string/title_activity_metodos_pagamento_list"
            android:parentActivityName=".Inicio.InicioActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio.InicioActivity" />
        </activity>
        <activity
            android:name=".MetodosPagamento.MetodosPagamentoShowActivity"
            android:label="@string/title_activity_metodos_pagamento_show"
            android:parentActivityName=".MetodosPagamento.MetodosPagamentoListActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MetodosPagamento.MetodosPagamentoListActivity" />
        </activity>
        <activity
            android:name=".MetodosPagamento.MetodosPagamentoNovoActivity"
            android:label="@string/title_activity_metodos_pagamento_novo"
            android:parentActivityName=".MetodosPagamento.MetodosPagamentoShowActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MetodosPagamento.MetodosPagamentoShowActivity" />
        </activity>
        <activity
            android:name=".Viagens.ViagensListActivity"
            android:label="@string/title_activity_viagens_list"
            android:parentActivityName=".Inicio.InicioActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio.InicioActivity" />
        </activity>
        <activity
            android:name=".Viagens.ViagensShowActivity"
            android:label="@string/title_activity_viagens_show"
            android:parentActivityName=".Viagens.ViagensListActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Viagens.ViagensListActivity" />
        </activity>
        <activity
            android:name=".Planejamentos.PlanejamentosListActivity"
            android:label="@string/title_activity_planejamentos_list"
            android:parentActivityName=".Inicio.InicioActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio.InicioActivity" />
        </activity>
        <activity
            android:name=".Planejamentos.PlanejamentoShowActivity"
            android:label="@string/title_activity_planejamento_show"
            android:parentActivityName=".Planejamentos.PlanejamentosListActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Planejamentos.PlanejamentosListActivity" />
        </activity>
        <activity
            android:name=".Planejamentos.PlanejamentoEditActivity"
            android:label="@string/title_activity_planejamento_edit"
            android:parentActivityName=".Planejamentos.PlanejamentoShowActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Planejamentos.PlanejamentoShowActivity" />
        </activity>
        <activity
            android:name=".Gastos.GastosListActivity"
            android:label="@string/title_activity_gastos_list"
            android:parentActivityName=".Inicio.InicioActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio.InicioActivity" />
        </activity>
        <activity
            android:name=".Gastos.GastoShowActivity"
            android:label="@string/title_activity_gasto_show"
            android:parentActivityName=".Gastos.GastosListActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Gastos.GastosListActivity" />
        </activity>
        <activity
            android:name=".Gastos.GastoEditActivity"
            android:label="@string/title_activity_gasto_edit"
            android:parentActivityName=".Gastos.GastoShowActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Gastos.GastoShowActivity" />
        </activity>
        <activity
            android:name=".Relatorios.RelatoriosActivity"
            android:label="@string/title_activity_relatorios"
            android:parentActivityName=".Inicio.InicioActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio.InicioActivity" />
        </activity>
        <activity
            android:name=".Usuario.UsuarioShowActivity"
            android:label="@string/title_activity_usuario_show"
            android:parentActivityName=".Inicio.InicioActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio.InicioActivity" />
        </activity>
        <activity
            android:name=".Viagens.ViagensNovoActivity"
            android:label="@string/title_activity_viagens_novo"
            android:parentActivityName=".Viagens.ViagensListActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Usuario.UsuarioShowActivity" />
        </activity>
        <activity
            android:name=".Listas.ListasListActivity"
            android:label="@string/title_activity_listas_list"
            android:parentActivityName=".Inicio.InicioActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inicio.InicioActivity" />
        </activity>
        <activity
            android:name=".Listas.ItemListaListActivity"
            android:label="@string/title_activity_item_lista_list"
            android:parentActivityName=".Listas.ListasListActivity"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Listas.ListasListActivity" />
        </activity>
    </application>

</manifest>
